{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>
      body{
        background: #bdf0db;
        color:#0c0c0c;
        font-family: 'Arial', sans-serif;
        font-size: 14px;
      }
      #container{
        width: 30%;
        background: #fcfabf;
        margin: 20px auto;
        overflow: auto;
        padding: 25px;
      }
    </style>

</head>
<body>
    <div id ="container">
      <center>
        <h1> Welcome to Online QUIZ</h1><br>
        <h2>Test Your Knows!!</h2>
        <h3>Login</h3>
        <form name="LoginForm" method="post" action="startquiz">
          {% csrf_token %}
          User Name <input type="text" id="username" value="" placeholder="Username or Email" required><br><br>
          Password <input type="password" id="password" value="" placeholder="Password" required><br><br>
          <input type="submit" name="submit" value="Login">
        </form>
      </center>
    </div>
  </body>
</html>